<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>add</title>
</head>

<body>
	<form th:method="POST" th:action="@{/subject}">
		
		<table border="1">
		                  <tr>
		                      <td>name</td>
		                      <td><input name="name" type="text" /></td>
		                  </tr>
		                  <tr>
		                      <td>enrollStu</td>
		                      <td><input name="enrollStu" type="checkbox" 
		                          th:checked="${subject != null? #lists.contains(subject.enrollStu, option):null}" 
		                          th:each="option:${enrollStuLst}" th:text="${option.id}" th:value="${option.id}"></td>
		                  </tr>
		                  <tr>
		                      <td><button type="submit" value="Create">Create</button></td>
		                      <td><input type="reset" value="Reset"></td>
		                  </tr>
		</table>
	</form>
	
</body>

</html>