<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>edit</title>
</head>

<body>
	<form th:method="PUT" th:action="@{/student}">
		<input type="hidden" name="id" th:value="${student.id}">
		<table border="1">
		                  <tr>
		                      <td>name</td>
		                      <td><input name="name" type="text" th:value="${student.name}"/></td>
		                  </tr>
		                  <tr>
		                      <td>phone</td>
		                      <td><input name="phone" type="text" th:value="${student.phone}"/></td>
		                  </tr>
		                  <tr>
		                      <td><button type="submit" value="Edit">Edit</button></td>
		                      <td><input type="reset" value="Reset"></td>
		                  </tr>
		</table>
	</form>
	
</body>

</html>